<header>
    <h1 style="text-align: center;">Find your Work</h1>
</header>
<nav>
    <ul>
        <li><a class="nav-link" href="userHome">Home</a></li>
        <li><a class="nav-link " href="userTakework">Take Work</a></li>
        <li><a class="nav-link" href="userContactus">Contact Us</a></li>
        <li><a class="nav-link active" href="userAboutus">about Us</a></li>
        <li><a class="nav-link " href="userProfile">Profile</a></li>
        <li><a class="nav-link " href="login">login</a></li>
        <li><a class="nav-link" href="signup">sign up</a></li>
        <li><a class="nav-link" href=" " (click)="onLogout()">Log out</a></li>
    </ul>
</nav>
<br><br><br>
<h1 align="center">About Us</h1>