<header>
    <h1 style="text-align: center;">Find your Work</h1>
</header>
<div class="container-fluid">
    <nav class="nav flex-column">
        <div class="col-sm-12">
            <ul>
                <li><a class="nav-link" href="userHome">Home</a></li>
                <li><a class="nav-link active" href="userTakework">Take Work</a></li>
                <li><a class="nav-link" href="userContactus">Contact Us</a></li>
                <li><a class="nav-link" href="userAboutus">about Us</a></li>
                <li><a class="nav-link" href="userProfile">Profile</a></li>
                <li><a class="nav-link" href="login">login</a></li>
                <li><a class="nav-link" href="signup">sign up</a></li>
                <li><a class="nav-link" href=" " (click)="onLogout()">Log out</a></li>
            </ul>
        </div>

    </nav>
</div>
<br><br>
<div class="container-fluid">
    <table class="table">
        <tr class="table-info">
            <th>No.</th>
            <th>title</th>
            <th> Description</th>
            <th>cost</th>
            <th>Make request</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>work</td>
            <td>data entry of library visiters</td>
            <td>1000rs.</td>
            <td><input class="btn-primary" type="submit" name="make_req" value="Request"></td>
        </tr>

    </table>
</div>